.cubo {
    position: relative;
    transform-style: preserve-3d;
    height: 50px;
    width: 50px;
    transition: transform 0.7s ease;
}

.face {
    display: flex;
    position: absolute;
    height: 50px;
    width: 50px;
    background: linear-gradient(145deg, red, black);
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 8px;
    border: 0;
}

.front {
    transform: rotateX(0deg) translateZ(25px);
}

.back {
    transform: rotateX(-180deg) translateZ(25px);
}

.right {
    transform: rotateY(-90deg) translateZ(25px);
}

.left {
    transform: rotateY(90deg) translateZ(25px);
}

.top {
    transform: rotateX(90deg) translateZ(25px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(25px);
}