.cabeca {
    display: flex;
    width: 40%;
    height: 80%;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
}

.cotovelo {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpo-robo {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-around;
}

.comandos {
    display: flex;
    justify-content: center;
}

.loadingScreen {
    height: 98dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 30dvh;
    width: 30dvh;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}