<ng-container *ngIf="robo$ | async as robo">
    <div class="corpo-robo">
        <div class="braco-robo">
            <cotovelo class="cotovelo" [lado]="Lado.Esquerdo" [braco]="robo.bracoEsquerdo" (attRobo)="atualizarRobo()" />
            <pulso class="pulso" [lado]="Lado.Esquerdo" [braco]="robo.bracoEsquerdo" (attRobo)="atualizarRobo()" />
        </div>
        <div class="cabeca">
            <cabeca [cabeca]="robo.cabeca" (attRobo)="atualizarRobo()" />
            <div class="comandos">
                <button (click)="resetarRobo()">RESETAR!</button>
                <button (click)="atualizarRobo()">RECARREGAR!</button>
            </div>
        </div>
        <div class="braco-robo">
            <cotovelo class="cotovelo" [lado]="Lado.Direito" [braco]="robo.bracoDireito" (attRobo)="atualizarRobo()" />
            <pulso class="pulso" [lado]="Lado.Direito" [braco]="robo.bracoDireito" (attRobo)="atualizarRobo()" />
        </div>
    </div>
</ng-container>
<ng-container *ngIf="loading">
    <div class="loadingScreen">
        <div class="loading"></div>
    </div>
</ng-container>