.cubo-container {
    height: 100px;
    width: 100px;
    perspective: 1000px;
    margin: 40px;
}

.cubo {
    position: relative;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: transform 0.7s ease;
}

.face {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(145deg, #00bfae, #009688);
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
}

.front {
    transform: rotateX(0deg) translateZ(50px);
}

.back {
    transform: rotateX(180deg) translateZ(50px);
}

.right {
    transform: rotateY(-90deg) translateZ(50px);
}

.left {
    transform: rotateY(90deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.cabeca-descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}