.cabeca{
    display: flex;
    width: 100%;
    justify-content: center;
}

.corpo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.braco{
    display: flex;
    flex-direction: column;
}

.comandos{
    display: flex;
    justify-content: center;
}